@import url("https://fonts.googleapis.com/css2?family=Alata&family=Cantarell&family=Merriweather+Sans&family=Quattrocento+Sans&display=swap");

:root {
  font-family: "Alata";
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  padding: 0;
  margin: 0;

  --text: rgb(209, 224, 227);
  --highlight: rgb(136, 225, 255);
  --bg: rgb(46, 46, 57);
  --bg_dark: rgb(34, 34, 41);

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  background: var(--text);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text);
}

#flexcontainer {
  /* display: inline; */
}

.leftContainer {
  padding: 10rem;
}

.leftContainer .namePlateBody {
  opacity: 75%;
  transition: opacity 500ms;
  height: 100px;
}

#skills {
  padding-top: 10rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
  height: 10px;
}

.leftContainer .namePlateBody:hover {
  opacity: 100%;
}

.rightContainer {
  padding: 10rem;
  padding-top: 5rem;
}

.rightContainer .projectList {
  opacity: 75%;
  transition: opacity 500ms;
}

.rightContainer .projectList:hover {
  opacity: 100%;
}

#namePlate {
  margin: 0;
  font-size: 1.5rem;
  height: 200px;
  max-height: 500px;
}

.highlight {
  color: var(--highlight);
}

.hoverText {
  opacity: 70%;
  width: 10%;
  max-width: 10%;
}

.iconList {
  padding: 0;
}

header {
  font-size: 4rem;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

.projectLinks {
  font-size: 1.3rem;
}

.projectList a {
  text-decoration: none;
  color: rgb(162, 172, 175);
  transition: color 500ms;
}

.projectList a:hover {
  color: var(--highlight);
  transition: color 500ms;
}

.iconList {
  list-style: none;
  text-align: left;
}

.iconList li {
  display: inline-block;
}

.icon {
  opacity: 50%;
  margin: 0.5rem;
  margin-right: 2rem;
  margin-left: 0rem;
  height: 2.5rem;
  width: 2.5rem;

  transition: opacity 500ms;
}

.icon:hover {
  opacity: 100%;
  transition: opacity 500ms;
}

.projectList {
  list-style: none;
  display: flex;
  padding-left: 0;
  flex: 1;
  flex-wrap: wrap;
  width: 100%;
}

.projectListElement {
  width: 25%;
  height: 400px;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 30px;
  margin: 1rem;
  float: left;
  background-color: var(--bg_dark);
}

.tagList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tagList li {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50px;
  background-color: var(--bg);
}

#projects header {
  font-size: 200%;
}

#projects p {
  font-size: 120%;
}

.projectDetails {
  margin-right: 5px;
}

@media (max-width: 1600) {
  #projects p{
    font-size: 100%;
  }
  #projects header {
    font-size: 150%;
  }
  .projectListElement {
    width: 200px;
    height: 350px;
  }
}

@media (max-width: 1400px) {

  .projectScreenshot {
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
  }

  .rightContainer {
    padding: 10rem;
    padding-top: 10rem;
  }
  
}

@media (max-width: 1200px) {
  :root {
    font-size: 11px;
  }

}

@media (max-width: 900px) {

  #flexcontainer {
    text-align: center;
    display: inline;
  }

  #namePlate {
    height: 200px;
  }

  .iconList {
    text-align: center;
  }
  
  .rightContainer {
    float: center;
    padding: 8rem;
  }

  .leftContainer {
    padding: 8rem;
    padding-bottom: 0;
  }

  .projectList {
    display: inline;
    text-align: center;
  }

  .projectListElement {
    display: inline;
    width: 100%;
    text-align: center;
    float: none;
    background-color: var(--bg);
  }

  .tagList li {
    background-color: var(--bg);
    font-style: bold;
  }

  .hoverText {
    margin: 0px;
    width: 100%;
    max-width: 100%;
 
  }

  .rightContainer {
    padding: 10rem;
    padding-top: 20rem;
  }
  
}

@media (max-width: 600px) {
  :root {
    font-size: 10px;
  }

  .projectScreenshot {
    margin-left: 0;
  }

  .projectListElement {
    display: inline-block;
    text-align: center;
  }
}

@media (max-width: 420px) {
  :root {
    font-size: 9px;
  }
}

@media (max-width: 360px) {
  :root {
    font-size: 8px;
  }
}
